<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>
<body>

    <!-- Nhúng menu -->
    <%- include('partical/menu'); %>
    <header>
        <h1>Chào mừng đến với trang web EJS của Phan Lê Thuật :P!</h1>
    </header>

    <main>
        <div class="gif-container">
            <img src="https://media1.tenor.com/m/R5IECfIf34YAAAAd/fish-spinning.gif" alt="Fish Spinning GIF">
        </div>
    </main>

    <footer>
        <p>&copy; 2025 - Trang web Node.js với EJS</p>
    </footer>

</body>
</html>
